
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/conference">{{ 'Conference' | translate }}</a></li>
        <li><a href="#/division">{{ 'Division' | translate }}</a></li>
        <li><a href="#/draft">{{ 'Draft' | translate }}</a></li>
        <li><a href="#/draftRound">{{ 'DraftRound' | translate }}</a></li>
        <li><a href="#/draftTeam">{{ 'DraftTeam' | translate }}</a></li>
        <li><a href="#/draftType">{{ 'DraftType' | translate }}</a></li>
        <li><a href="#/player">{{ 'Player' | translate }}</a></li>
        <li><a href="#/playerPosition">{{ 'PlayerPosition' | translate }}</a></li>
        <li><a href="#/playerStat">{{ 'PlayerStat' | translate }}</a></li>
        <li><a href="#/playerStatus">{{ 'PlayerStatus' | translate }}</a></li>
        <li><a href="#/schedule">{{ 'Schedule' | translate }}</a></li>
        <li><a href="#/scheduleType">{{ 'ScheduleType' | translate }}</a></li>
        <li><a href="#/status">{{ 'Status' | translate }}</a></li>
        <li><a href="#/team">{{ 'Team' | translate }}</a></li>
        <li><a href="#/teamStat">{{ 'TeamStat' | translate }}</a></li>
    </ul>
