		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'PlayerPosition' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'playerPosition.id' | translate }}</th>
						<th>{{ 'playerPosition.positionName' | translate }}</th>
						<th>{{ 'playerPosition.description' | translate }}</th>
						<th><a class="btn btn-info" href='#/playerPosition/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="playerPosition in playerPositions">
						<td>{{playerPosition.id}}</td>
						<td>{{playerPosition.positionName}}</td>
						<td>{{playerPosition.description}}</td>
						<td><a class="btn btn-info" href="#/playerPosition/{{playerPosition.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
