	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'Draft' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group">
				<label for="draft_id" class="col-sm-2 control-label">{{ 'draft.id' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="draft_id" name="id" ng-model="draft.id" class="form-control" maxLength="11"  ng-disabled="mode != 'create'"/>
				</div>
			</div>
			<div class="form-group">
				<label for="draft_year" class="col-sm-2 control-label">{{ 'draft.year' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="draft_year" name="year" ng-model="draft.year" class="form-control" maxLength="11" />
				</div>
			</div>
			<div class="form-group">
				<label for="draft_draftTypeId" class="col-sm-2 control-label">{{ 'draft.draftTypeId' | translate }}</label>
				<div class="col-sm-10">
                    <select id="draft_draftTypeId" ng-model="draft.draftTypeId" name="draftTypeId" class="form-control">
						<option value=""></option>
                        <option ng-repeat="draftType in items.draftTypes" title="{{draftType.label}}" ng-selected="{{draftType.value == draft.draftTypeId}}" value="{{draftType.value}}">{{draftType.label}}</option>
                    </select>
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(draft.id)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/draft">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
