		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Conference' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped" ng-controller="ConferenceCtrl">
				<thead>
					<tr>
						<th>{{ 'conference.id' | translate }}</th>
						<th>{{ 'conference.code' | translate }}</th>
						<th>{{ 'conference.name' | translate }}</th>
						<th><a class="btn btn-info"  ui-sref='conferenceSetup'>{{ 'create' | translate }}</a> 
									<a class="btn btn-info" ui-sref="refreshConferenceList()">Refresh</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="conference in conferences">
						<td>{{conference.id}}</td>
						<td>{{conference.code}}</td>
						<td>{{conference.name}}</td>
						<td><a class="btn btn-info" href="#/conference/{{conference.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
