		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Team' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'team.id' | translate }}</th>
						<th>{{ 'team.code' | translate }}</th>
						<th>{{ 'team.name' | translate }}</th>
						<th>{{ 'team.city' | translate }}</th>
						<th>{{ 'team.state' | translate }}</th>
						<th>{{ 'team.stadium' | translate }}</th>
						<th>{{ 'team.owner' | translate }}</th>
						<th>{{ 'team.headCoach' | translate }}</th>
						<th><a class="btn btn-info" href='#/team/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in teams">
						<td>{{team.id}}</td>
						<td>{{team.code}}</td>
						<td>{{team.name}}</td>
						<td>{{team.city}}</td>
						<td>{{team.state}}</td>
						<td>{{team.stadium}}</td>
						<td>{{team.owner}}</td>
						<td>{{team.headCoach}}</td>
						<td><a class="btn btn-info" href="#/team/{{team.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
